#loading-component {
  margin: auto;
  /*padding: 2.5rem;*/
}

#loading-component .card {
  padding: 1.25rem;
}

#loading-component .card-block {
  text-align: center;
}

#loading-component h4 {
  margin-bottom: 0px;
}
